path {
	fill: #99c1de;
	cursor: pointer;
}
path:hover {
	opacity: 0.85;
}
.land {
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

.picker {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.right_graphs {
    width: 50%;
}


.map {
    width: 700px;
    display: flex;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.map_title {
    height: 1rem;
    margin: auto 0;
}

body {
    margin: 0;
    padding: 0;
}
.navigation {
    height: 4rem;
    background-color: #99c1de;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #e9e9e9;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(225 29 72);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #bde0fe;
    cursor: pointer;
  }
  .right_graphs {
    position: relative;
    left: -20%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  .IncomePercents {
    display: flex;
    align-items: center;
    justify-content: center;
  }